QA ingest.json
{
  "name": "QA ingest",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -1040
      ],
      "id": "99db7711-4666-478d-8df5-e05bb6bc9a96",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "apiUrl": "={{ $json.url }}",
        "apiOptionalParameters": {}
      },
      "type": "n8n-nodes-scraperapi-official.scraperApi",
      "typeVersion": 1,
      "position": [
        864,
        -1392
      ],
      "id": "3f43ee20-d3f8-41fd-8b33-59291a158043",
      "name": "Send a request to the API",
      "credentials": {
        "scraperApi-Api": {
          "id": "UsERDuVIbTfAF4e6",
          "name": "ScraperAPI account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2016,
        -1392
      ],
      "id": "f9ce07cf-c704-4c7c-a24c-273f82294539",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "rd8m2XMpf91PbzC7",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1984,
        -1168
      ],
      "id": "ff527770-822c-4f90-8fcf-4b3894f02a32",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "s9A5LBl2occg4SRw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Product: {{ $('json to text form').item.json.Title }}\nPrice: {{ $('json to text form').item.json[\"price \"] }}\nDetails: {{ $('json to text form').item.json[\"page content\"] }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "product_url ",
                "value": "={{ $('json to text form').item.json.product_url.href }}"
              },
              {
                "name": "image_url",
                "value": "=https:{{ $('json to text form').item.json.image_url.src }}"
              },
              {
                "name": "price",
                "value": "={{ $('json to text form').item.json[\"price \"] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2112,
        -1168
      ],
      "id": "ab71b28c-852f-4c1e-a4df-53afca0235c8",
      "name": "Default Data Loader",
      "notesInFlow": true
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "c23faf91-1c5a-416b-b805-bf7ef453e9f9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2192,
        -960
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        -1216
      ],
      "id": "241c7677-56c7-4513-a2a3-607ac2d98e06",
      "name": "Wait",
      "webhookId": "f4058d43-b405-41c0-b3a0-297615bf5dd0"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -1040
      ],
      "id": "bafbdf3f-05c6-4c24-a9da-2522d65b5021",
      "name": "trigger after every 2 mins"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "efa34f4c-4e8e-44a3-8cfb-f206b83a334b",
              "leftValue": "={{ $(\"if the data alr exist\").item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        -1392
      ],
      "id": "b5562051-a7fb-465c-a64f-30fc776f1779",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3e8fdc9-5923-448f-a2f0-76059d9625be",
              "name": "websiteURL",
              "value": "https://flowerbouquet.pk/sitemap_products_1.xml?from=8146076139651&to=9112910823555",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -1040
      ],
      "id": "6d9ee601-e2c8-4c48-9d26-15b49979aab2",
      "name": "website sitemap page var"
    },
    {
      "parameters": {
        "url": "={{ $json.websiteURL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -1040
      ],
      "id": "694514a0-a355-4030-ad46-a4c5c0bfb04e",
      "name": "get url from the sitemap"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "url",
              "cssSelector": "loc",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -32,
        -1040
      ],
      "id": "d0fe545f-c8bc-4ce5-acef-41a1c2740965",
      "name": "exctract the all url of the sitemap"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        -1040
      ],
      "id": "d9eefa0d-e728-40ce-b238-a5b6747ecbbb",
      "name": "pass as single object all url"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8ff708f3-d7a2-41a1-b116-78a46a6c1b86",
              "leftValue": "={{ $json.url }}",
              "rightValue": "/products/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        -1040
      ],
      "id": "986f34b6-0952-4236-a16f-3adeb192c721",
      "name": "filter only the url containes the product"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "response.body",
        "extractionValues": {
          "values": [
            {
              "key": "Price",
              "cssSelector": ".price-item"
            },
            {
              "key": "Description",
              "cssSelector": ".product__description"
            },
            {
              "key": "Title",
              "cssSelector": "h1"
            },
            {
              "key": "image_url",
              "cssSelector": "img.global-media-settings",
              "returnValue": "attribute"
            },
            {
              "key": "product_url",
              "cssSelector": "link[rel=\"canonical\"]",
              "returnValue": "attribute"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1088,
        -1392
      ],
      "id": "46ddec90-8630-4123-b930-e0d0a76198f6",
      "name": "exxtract website content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8501b9bf-b267-435d-9666-058ecac76eeb",
              "name": "page content",
              "value": "=Product : {{ $json.Title }} \\n Price : {{ $json.Price }} Description : {{ $json.Description }}",
              "type": "string"
            },
            {
              "id": "3da3ed98-2919-46b5-aa23-13e16363dc58",
              "name": "price ",
              "value": "={{ $json.Price }}",
              "type": "string"
            },
            {
              "id": "62017568-59af-4aa7-82ed-69be3330d21c",
              "name": "product_url",
              "value": "={{ $json.product_url }}",
              "type": "object"
            },
            {
              "id": "c6f37a62-5502-4404-a932-4191248815bd",
              "name": "image_url",
              "value": "={{ $json.image_url }}",
              "type": "object"
            },
            {
              "id": "f0e914e5-5423-4bcc-9e35-25b6184945af",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -1392
      ],
      "id": "4fba34ea-7ccc-4609-9890-0c26efb760d2",
      "name": "json to text form"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "metadata->>product_url",
              "condition": "eq",
              "keyValue": "={{ $json.product_url.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1536,
        -1392
      ],
      "id": "5a1a35b6-8b53-4247-9a75-91beffaa8b66",
      "name": "if the data alr exist",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "rd8m2XMpf91PbzC7",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a request to the API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a request to the API": {
      "main": [
        [
          {
            "node": "exxtract website content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger after every 2 mins": {
      "main": [
        [
          {
            "node": "website sitemap page var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "website sitemap page var": {
      "main": [
        [
          {
            "node": "get url from the sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get url from the sitemap": {
      "main": [
        [
          {
            "node": "exctract the all url of the sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exctract the all url of the sitemap": {
      "main": [
        [
          {
            "node": "pass as single object all url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pass as single object all url": {
      "main": [
        [
          {
            "node": "filter only the url containes the product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter only the url containes the product": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exxtract website content": {
      "main": [
        [
          {
            "node": "json to text form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json to text form": {
      "main": [
        [
          {
            "node": "if the data alr exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if the data alr exist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a21b6533-ad5e-43f4-8a82-00101c29faec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "462b271704985620d4bd26275a56cafbf68c88581b30a4c08d0bc24f6f490f77"
  },
  "nodeGroups": [],
  "id": "B6JNOmEUHkDjthsY",
  "tags": []
}